extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="" , class= "img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dui dolor, efficitur sit amet felis vel, hendrerit mattis magna. Donec venenatis nulla sit amet orci gravida pharetra. Proin vel dapibus justo, in lobortis lorem. Pellentesque quis consequat massa. Curabitur maximus posuere elit tincidunt pellentesque. Ut suscipit auctor ornare. Nulla eget eros tincidunt, aliquet dui at, fermentum enim. Donec vestibulum mi ipsum, in pharetra velit cursus sed. Aliquam iaculis ultrices lorem in semper. Donec consectetur hendrerit malesuada. Donec tristique dolor et velit volutpat sodales. Donec fringilla nunc vel fringilla feugiat.

        p Donec vulputate et leo eu scelerisque. Phasellus hendrerit sodales interdum. Quisque nec enim tempor, scelerisque tortor et, aliquet diam. Ut neque sapien, varius vehicula congue non, viverra sed nisi. Sed molestie convallis pellentesque. Donec at convallis neque, vitae placerat sapien. Nam accumsan ultricies arcu sit amet rhoncus. Praesent id convallis est. Pellentesque pharetra tellus eget nunc accumsan, vel fringilla ligula scelerisque.

        p Curabitur venenatis magna eu augue tempus dapibus. Pellentesque tincidunt urna ac nisi consequat malesuada sed non lacus. Cras tempor nibh nec mattis tempor. Aenean nec magna commodo, molestie tortor quis, congue erat. Duis odio est, convallis vel ultrices sed, vulputate vitae sapien. Sed pharetra vehicula nibh vel hendrerit. Proin ligula lorem, cursus a lorem eu, malesuada gravida lacus. Suspendisse consequat metus id orci tempus consectetur. Nulla tincidunt sit amet velit vel hendrerit. Maecenas in urna interdum velit dictum porttitor non eget diam. Quisque laoreet lectus ut elit volutpat, nec pulvinar metus placerat. Sed vitae vestibulum diam. Vestibulum facilisis nisi justo, eu ultrices mauris fermentum at.c.
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Curabitur venenatis magna eu augue tempus dapibus. Pellentesque tincidunt urna ac nisi consequat malesuada sed non lacus. Cras tempor nibh nec mattis tempor. Aenean nec magna commodo, molestie tortor quis, congue erat. Duis odio est, convallis vel ultrices sed, vulputate vitae sapien. Sed pharetra vehicula nibh vel hendrerit. Proin ligula lorem, cursus a lorem eu, malesuada gravida lacus. Suspendisse consequat metus id orci tempus consectetur. Nulla tincidunt sit amet velit vel hendrerit. Maecenas in urna interdum velit dictum porttitor non eget diam. Quisque laoreet lectus ut elit volutpat, nec pulvinar metus placerat. Sed vitae vestibulum diam. Vestibulum facilisis nisi justo, eu ultrices mauris fermentum at.c.
        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos 
          p Curabitur venenatis magna eu augue tempus dapibus. Pellentesque tincidunt urna ac nisi consequat malesuada sed non lacus. Cras tempor nibh nec mattis tempor. Aenean nec magna commodo, molestie tortor quis, congue erat. Duis odio est, convallis vel ultrices sed, vulputate vitae sapien. Sed pharetra vehicula nibh vel hendrerit. Proin ligula lorem, cursus a lorem eu, malesuada gravida lacus. Suspendisse consequat metus id orci tempus consectetur. Nulla tincidunt sit amet velit vel hendrerit. Maecenas in urna interdum velit dictum porttitor non eget diam. Quisque laoreet lectus ut elit volutpat, nec pulvinar metus placerat. Sed vitae vestibulum diam. Vestibulum facilisis nisi justo, eu ultrices mauris fermentum at.c.
        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Mejores Precios 
          p Curabitur venenatis magna eu augue tempus dapibus. Pellentesque tincidunt urna ac nisi consequat malesuada sed non lacus. Cras tempor nibh nec mattis tempor. Aenean nec magna commodo, molestie tortor quis, congue erat. Duis odio est, convallis vel ultrices sed, vulputate vitae sapien. Sed pharetra vehicula nibh vel hendrerit. Proin ligula lorem, cursus a lorem eu, malesuada gravida lacus. Suspendisse consequat metus id orci tempus consectetur. Nulla tincidunt sit amet velit vel hendrerit. Maecenas in urna interdum velit dictum porttitor non eget diam. Quisque laoreet lectus ut elit volutpat, nec pulvinar metus placerat. Sed vitae vestibulum diam. Vestibulum facilisis nisi justo, eu ultrices mauris fermentum at.c.